@charset "UTF-8";

body {
    background: linear-gradient(rgb(170, 225, 170), rgb(255, 255, 255));
    background-attachment: fixed;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    color: rgb(16, 127, 16);
    background-color: lemonchiffon;
    
}
h2 {
    color: rgb(177, 134, 26);

}