@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Titillium+Web&display=swap');

body {
    
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
main {
    
    margin: auto;
    width: 1400px;
    



}

h1 {
    font-family: 'Nova Square';
    left: 200px;
    top: 50px;
    
    
    
}
h2 {
    color: rgb(177, 134, 26);

}
p {
    text-indent: 30px;
}
article {
    background: lightsteelblue;
    display: inline-block;
}

img#logobola {
    position: relative;
    left: 10px;
    
}