@charset "UTF-8";

body {
    background-color: rgb(211, 249, 228);
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    color: rgb(16, 127, 16);
    background-color: lemonchiffon;
    
}
h2 {
    color: rgb(177, 134, 26);

}